/* место для вашего кода */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px;
}
.header__itemlist {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style-type: circle;
  font-family: "Raleway" Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.underline {
  text-decoration: underline;
}
.no-bullit {
  list-style-type: none;
  text-decoration: none;
}
.uppercase{
 text-transform: uppercase;
}
.header__logo {
  width: 148px;
  height: 105px;
}
.header__addres {
  display: flex;
  padding-left: 15.5%;
  padding-right: 33px;
}
.addresunivers {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}
.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
}
.cover__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 123%;
  text-transform: uppercase;
  padding-top: 165px;
  padding-left: 50px;
}
.cover__footer{
  display: flex;
  align-items: center;
}
.cover__footer__about {
  font-family: "Raleway" Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 120px;
  margin-left: 77px;
}
.cover__footer__button {
  font-family: "Raleway" Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  background: none;
  border: 1px solid currentColor;
  border-radius: 0;
  color: #fff;
  padding: 12px 32px;
  margin-top: 120px;
  margin-left: 78px;
}
.cover__title__letter__settings{
  letter-spacing: 30px;
}
.cover__title__letter__settings__space{
  letter-spacing: 60px;
}
.text__locate__center{
  text-align: center;
  padding-right: 50px;
}
.text__locate__right{
  text-align: right;
  padding-right: 50px;
}
.no-letter-space{
  letter-spacing: 0px;
}
.cover h1 {
  font-size: 100px;
}
.lots{ 
  color: #fff;
}
.lots h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif; 
  font-size: 22px; 
  line-height: 26px; 
  font-weight: 700;
  margin-top: 30px; 
  margin-left: 40px; 
  margin-right: 40px; 
  width: 254px;
}
.lots__text{
  margin-left: 40px; 
  margin-right: 40px; 
  margin-bottom: 48px; 
  font-family: "Raleway", Arial, Helvetica, sans-serif; 
  font-weight: 400; 
  font-size: 20px; 
  line-height: 24px;
}
.lots__text__location{
  margin-top: 243px;
}
.lots__text__location__alt{
  margin-top: 95px;
}
.lots__title{
  margin-top: 179px;
  margin-bottom: 30px;
  margin-left: 64px;
  color: #000;
  font-family: "Raleway", Arial, Helvetica, sans-serif; 
  font-weight: 700; 
  font-size: 40px; 
  line-height: 46px;
}
.lots__list{
  display: flex;
  gap: 25px;
}
.lots__list__picture__A{
 background: url(../images/card-lot-01.jpg);
 margin-left: 24px;
}
.lots__list__picture__B{
  background-image: url(../images/card-lot-02.jpg);
}
.lots__list__picture__C{
  background-image: url(../images/card-lot-03.jpg);
}
.lots__block{
  width: 334px;
  height: 563px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.lots__text__settings{
  margin-left: 9px;
}
.lots__readmore{
  font-family: "Raleway", Arial, Helvetica, sans-serif; 
  color: #000;
  font-weight: 400px;
  font-size: 20px;
  line-height: 23px;
  margin-left: 64px;
  margin-top: 31px;
  position: absolute;
}
.about {
  width: 1110px;
  min-height: 595px;
}
.about p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.about__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-left: 76px;
  margin-top: 7px;
}
.about__line {
  display: flex;
  align-items: center;
  margin-top: 235px;
  margin-left: 75px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  margin-left: 383px;
  margin-right: 24px;
  margin-top: 6px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.about__logocircle {
  background-color: #000;
  border-radius: 50%;
  padding: 63px 46px;
}
.about__whitelogo {
  width: 141px;
  height: 112px;
  text-align: center;
}
footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 148px;
  margin-bottom: 80px;
  margin-left: 50px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40px;
}
.footer__contactlogo {
  width: 48px;
  height: 48px;
  gap: 48px;
}
.footer__contacts {
  display: flex;
  gap: 48px;
}
.overlay__cover {
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 1100px;
  min-height: 757px;
}
.overlay__lots{
 background-color: rgba(0, 0, 0, 0.6);
 height: 100%;
}