header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 92px 50px;
}
.header__itemlist {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style-type: circle;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.link__settings {
  text-decoration: underline;
}
.no-bullit {
  list-style-type: none;
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.header__logo {
  width: 148px;
  height: 105px;
}
.header__addres {
  display: flex;
  padding-left: 15.5%;
  padding-right: 33px;
}
.addresunivers {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}
.cover {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding-bottom: 49px;
}
.cover__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 123%;
  text-transform: uppercase;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
  position: relative;
}

.cover h1 {
  font-size: 100px;
  display: flex;
  flex-direction: column;
}
.cover__footer {
  display: flex;
  align-items: center;
  margin-top: 120px;
  justify-content: space-evenly;
  gap: 30px;
}
.cover__footer__about {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  word-spacing: 18px;
  z-index: 1;
  position: relative;
  margin-left: 33px;
}
.cover__footer__button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase;
  background: none;
  border: 1px solid currentColor;
  border-radius: 0;
  color: #fff;
  padding: 14px 32px;
  position: relative;
}
.cover__title__letter__settings {
  letter-spacing: 30px;
}
.cover__title__letter__settings__space {
  letter-spacing: 60px;
}
.text__locate__center {
  text-align: center;
}
.text__locate__right {
  text-align: right;
}
.no-letter-space {
  letter-spacing: 0px;
}
.lots {
  color: #fff;
}
.lots__text__location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lots h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  width: 254px;
  position: relative;
  padding-top: 45px;
}
.lots__text {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 48px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
  position: relative;
}
.lots__title {
  margin-top: 179px;
  margin-bottom: 30px;
  margin-left: 64px;
  color: #000;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
}
.lots__list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.lots__list__picture__film {
  background: url(../images/card-lot-01.jpg);
}
.lots__list__picture__book {
  background-image: url(../images/card-lot-02.jpg);
}
.lots__list__picture__paint {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__block {
  width: 334px;
  min-height: 563px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
}
.lots__block__setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lots__text__settings {
  margin-left: 9px;
}
.lots__readmore {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: block;
  margin: 30px 0 0 65px;
}
.about {
  width: 1110px;
}
.about p {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.about__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin-left: 76px;
  margin-top: 7px;
}
.about__line {
  display: flex;
  align-items: center;
  margin-top: 180px;
  margin-left: 75px;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: left;
  margin-left: 383px;
  margin-right: 24px;
  margin-top: 6px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.01em;
}
.about__logocircle {
  background-color: #000;
  border-radius: 50%;
  padding: 63px 46px;
}
.about__whitelogo {
  width: 141px;
  height: 112px;
  text-align: center;
}
footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 181px;
  margin-bottom: 80px;
  margin-left: 50px;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 40px;
}
.footer__contactlogo {
  width: 48px;
  height: 48px;
  gap: 48px;
}
.footer__contacts {
  display: flex;
  gap: 48px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}